* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    padding: 25px;

    &__img {
        display: block;
        height: 100px;
        width: 100%;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    &__item {
        margin: 10px 0px;
        &--active {
            background-color: #333;
            color: white;
        }
    }
    &__paragraph {
        font-size: 12px;
    }
}
